*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: f;
  text-align: center;
  background-color: #2a2a2a;
  margin: 0;
  padding: 20px;
  position: relative;
  font: 1em sans-serif;

}
.topo{
  display: flex;
}
#color_picker{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex:3;

}


#cores_lista{
    display: flex;
    gap: 8px;

}

.cor_item{
    width: 25px;
    height: 25px;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container{
  display: flex;
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: 20px auto;
  align-items: flex-start;
  position: relative;
  z-index: 2;
}

#coluna_0,
.coluna{
  margin: auto;
  position: relative;
  z-index: 2;
  flex: 10;
}

#coluna_1,
#coluna_2,
#coluna_3{
  position: relative;
  flex: 1;
}

.item_0,
.item_1,
.item_2,
.item_3{
  display: flex;
  align-items: center;
  border-radius: 20px;
  padding: 10px 12px 10px 20px;
  min-height: 52px;
}

.item_0{
  max-width: 70%;
  margin-left: 20px;
  margin-bottom: 20px;
}

.item_1,
.item_2,
.item_3{
  width: 100%;
  position: absolute;
  left: 0;
}
.texto_item{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  flex: 0.5;
  min-width: 0;
  text-align: left;
}

#coluna_1{
  flex: 2.5;
}

#coluna_2{
  flex: 2;
}

#coluna_3{
  flex: 1.5;
}

#connections-layer{
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}


.hidden_hud_addList{
  display: none;  

}

#overlay_hud_addList{

    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    backdrop-filter: blur(3px);
    background: rgba(0,0,0,0.2);

    z-index: 99999;
}

#hud_addList{
    display: flex;
    background: rgba(0, 0, 0, 0.566);
    padding: 10px;
    max-width: 700px;
    max-height: 200px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 3px solid rgb(0, 0, 0);
    min-width: 250px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
    position: relative; /* IMPORTANTE */
    gap: 0px;
}

#delet_hud_addList{
  position: absolute;
  top: 5px;
  left: 5px;

  max-width:20px ;
  max-height: 20px;
  font-size: 20px;
  text-align: center;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  background-color: transparent;
  border: 0;
}

#color_hud_addList{
  position: absolute;
  top:10px;
  max-width:40px ;
  max-height: 40px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  box-shadow: 4px 3px 3px #000000;
  
}

#nome_hud_addList{

  max-width:300px ;
  max-height: 30px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  color: white;
  border: 3px solid black;
  background-color: #47474779;
  border-radius: 7px;
  text-align: center;
  padding: 10px;
  padding-right: 45px;
  }

  #confirm_hud_addList{
  display: flex;
  margin-left: -40px;
  justify-content: center;
  align-items: center;
  max-width:30px ;
  max-height: 20px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  color: white;
  border: 1px solid black;
  background-color: #000000;
  border-radius: 7px;
  text-align: center;
  padding: 10px;
  }

#text_color_hud_addList{
  max-width:20px ;
  max-height: 20px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-color: transparent;
  border: 3px solid #47474779 ;
  box-shadow: -3px 2px 3px  #000000;


}


#previa_hud_addList{
  position: absolute;
  bottom: 20px;

  display: flex;
  align-items: center;

  max-width: 250px;
  max-height: 30px;
  width: 100%;
  height: 100%;
  border-radius: 20px;

  padding-left:10px;

  overflow: hidden; /* segurança */
}
#texto_previa{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  flex: 0.5;          /* ocupa espaço disponível */
  min-width: 0;     /* permite encolher no flex */
  text-align: left; /* texto alinhado à esquerda */
}